# Python stuff ----------------------------------------------------------------
.venv/
*.egg-info/
__pycache__/

# Generated stuff -------------------------------------------------------------
python/src/fablex/__gen__/
