# Python stuff ----------------------------------------------------------------
.venv/
*.egg-info/
__pycache__/

# Generated stuff -------------------------------------------------------------
python/src/psyval/__gen__/
