# Python stuff ----------------------------------------------------------------
.venv/
*.egg-info/
__pycache__/

# NodeJS stuff ----------------------------------------------------------------
node_modules/

# Generated stuff -------------------------------------------------------------
python/src/evalis/__gen__/
python/dist

typescript/src/__gen__/
typescript/dist

*/LICENSE

